@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #3c9bee;
    --secondary-color:#f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", "sans-serif";
}

.container {
    padding: 10px 30px;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    border-radius: 50px;
    background-color: #f5f5f5dd;
    backdrop-filter: blur(2em);
    z-index: 10;
}

nav .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav .brand img {
    user-select: none;
}

nav .s-s {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition-duration: 0.5s;
    transition-property: height;
}

nav .s-s .divider {
    height: 30px;
    background-color: black;
    width: 2px;
}

nav .s-s .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
}

nav .s-s .options .translate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

nav .s-s .options .translate i {
    font-size: 20px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

nav .s-s .options .translate p {
    color: black;
    user-select: none;
    font-weight: 400;
}

nav .s-s .options .theme {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .s-s .options .theme i {
    font-size: 20px;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

nav .menu {
    color: black;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(-2px);
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 100px;
    background-color: black;
    transition-duration: 0.32s;
    transition-property: width;
    position: absolute;
    bottom: 0;
    transform: translateY(200%);
}

.active {
    font-weight: 500;
}

nav ul li a:hover,
.active {
    &::after {
        width: 105%;
    }
}

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000bb, #000000bb), url("../Assets/Images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 5px;
    text-align: center;
}

header h2 {
    height: calc(24px * 1.2);
    border-right: 1px solid #3c9bee;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.4s blinker infinite alternate linear;
}

header h2 .text {
    color: var(--main-color);
}

/* Start services slider */
#services {
  width: 100vw;
  height: 60vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-slider {
  position: relative;
  width: 950px;
  height: 400px;
  margin: 10px;
  border-radius: 20px;
  padding: 10px 0;
  background-color: #3b3e4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-slider .slide .left,
.img-slider .slide .right {
  max-width: 50%;
}
.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
  /* background-color: #3b3e4d; */
}

.img-slider .slide img {
    z-index: 1;
    width: 300px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .slide .info h2 {
    color: #fff;
    font-size: 27px;
    font-weight: 800;
}
.img-slider .slide .info p {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
.img-slider .slide .info button {
  color: #fff;
  background-color: #1a8aec;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  cursor: pointer;
}   
.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation .btn {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.842);
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.img-slider .navigation .btn.active {
  background: #1a8aec;
  box-shadow: 0 0 2px rgba(32, 32, 32, 0.74);
}
/* FAQS */
.faqs {
    font-family: Arial, sans-serif;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.faq-container {
    max-width: 950px;
    margin:  auto;
    background-color: #3b3e4d;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

.faq-header {
    text-align: center;
    margin-bottom: 20px;
}
.faq-header img{
width: 15%;
}
.faq-header h1 {
    font-size: 28px;
    color: #fff;
    margin: 0;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    background: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
}

.faq-question svg {
    transition: transform 0.3s;
}
.faq-question path{
    color: #1a8aec;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    border-bottom: 1px #1a8aec solid;
}
.faq-answer p{
    font-size: 20px;
    margin-bottom: 15px;
}
.faq-answer.open {
    max-height: 200px;
}

/* Btn Top */

.scrollTop {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition-duration: 0.25s;
    opacity: 0;
}

.scrollTop:hover {
    background-color: #228ae6;
}

/* slider media quires */
@media (max-width: 920px) {
  .img-slider {
    width: 675px;
    height: 310px;
  }
  .img-slider .slide {
    padding: 15px 35px;
  }
  .img-slider .slide .info h2 {
    font-size: 26px;
    padding-bottom: 7px;
  }
  .img-slider .slide .info p {
    font-size: 16px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}
@media (max-width: 768px) {
    .img-slider {
      width: 610px;
      height: 290px;
    }
    .img-slider .slide {
        padding: 12px 30px;
      }
    .img-slider .slide img {
      width: 200px;
    }
    .img-slider .slide .info h2 {
      font-size: 20px;
    }
    .img-slider .slide .info p {
      font-size: 14px;
    }
    .img-slider .slide .info button {
      font-size: 16px;
      padding: 8px 30px;
    }
    .img-slider .navigation {
      bottom: 20px;
    }
    .img-slider .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 1px;
      }
  }
  

@media (max-width: 700px) {
  .img-slider {
    width: 570px;
    height: 280px;
  }
  .img-slider .slide {
    padding: 12px 25px;
  }
  .img-slider .slide .info h2 {
    font-size: 20px;
  }
  .img-slider .slide .info p {
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 1px;
  }
}
@media (max-width: 600px) {
    .img-slider {
        width: 520px;
        height: 270px;
      }
      .img-slider .slide {
          padding: 10px 22px;
        }
      .img-slider .slide img {
        width: 200px;
      }
      .img-slider .slide .info h2 {
        font-size: 19px;
      }
      .img-slider .slide .info p {
        font-size: 12px;
      }
      .img-slider .slide .info button {
        font-size: 16px;
        padding: 8px 30px;
      }
      .img-slider .navigation {
        bottom: 20px;
      }
      .img-slider .navigation .btn {
          width: 10px;
          height: 10px;
          margin: 1px;
        }
  }
  
@media (max-width: 480px) {
  .img-slider {
    width: 450px;
    height: 250px;
    /* margin: 8px; */
  }
  .img-slider .slide {
    padding: 24px 16px;
  }
  .img-slider .slide img {
    width: 150px;
  }
  .img-slider .slide .info h2 {
    font-size: 17px;
  }
  .img-slider .slide .info p {
    font-size: 11px;
  }
  .img-slider .slide .info button {
    font-size: 14px;
    padding: 6px 15px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }
  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 445px) {
  .img-slider {
    width: 420px;
    height: 280px;
    /* margin: 8px; */
  }
  .img-slider .slide {
    padding: 20px 14px;
  }
  .img-slider .slide img {
    width: 150px;
  }
  .img-slider .slide .info h2 {
    font-size: 15px;
  }
  .img-slider .slide .info p {
    font-size: 10px;
  }
  .img-slider .slide .info button {
    font-size: 12px;
    padding: 6px 15px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }
  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 1px;
  }
}
/* End services slider */
/* Start FAQS Section  */
@media (max-width: 768px) {
    .faqs {
        padding: 20px 40px;
    }
    .faq-header img{
        width: 20%;
    }

}
@media (max-width: 600px) {
    .faqs {
        padding: 15px 35px;
    }
    .faq-container {
        padding: 17px 27px;
        }
        .faq-question path{
            padding-left: 100px;
        }
    .faq-header img{
        width: 25%;
        }

}
@media (max-width: 480px) {
    .faqs {
        padding: 15px 35px;
    }
    .faq-container {
        padding: 17px 27px;
    }
    .faq-header h1 {
        font-size: 25px;;
    }
    .faq-header img{
        width: 44%;
        }

}
@media (max-width: 395px) {
    .faqs {
        padding: 12px 32px;
    }
    .faq-container {
        padding: 15px 25px;
    }
    .faq-header h1 {
        font-size: 19px;;
    }
    .faq-header img{
        width: 44%;
        }
        .faq-question h3 {
            font-size: 18px;
        }
        .faq-answer p{
            font-size: 16px;
            margin-bottom: 30px;
        }

}
/* End FAQS Section  */

@keyframes blinker {
  100% {
    border-color: #3c9bee00;
  }
}

@media (max-width: 576px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #f5f5f5dd;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
    gap: 10px;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 768px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #f5f5f5ee;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
    gap: 10px;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 992px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #f5f5f5ee;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    overflow: hidden;
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
    gap: 10px;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}

@media (min-width: 1400px) {
}