@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #3c9bee;
  --secondary-color: #282a37;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c9bee;
  border-radius: 5px;
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", "sans-serif";
}

.container {
  padding: 10px 30px;
}

/* -- Start navbar  */
nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  border-radius: 50px;
  background-color: #282a37dd;
  backdrop-filter: blur(2em);
  z-index: 10;
}

nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav .brand img {
  user-select: none;
}

nav .s-s {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition-duration: 0.5s;
  transition-property: height;
}

nav .s-s .divider {
  height: 30px;
  background-color: white;
  width: 2px;
}

nav .s-s .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}

nav .s-s .options .translate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

nav .s-s .options .translate i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
}

nav .s-s .options .translate p {
  color: white;
  user-select: none;
  font-weight: 400;
}

nav .s-s .options .theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .s-s .options .theme i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

nav .menu {
  color: white;
  font-size: 25px;
  display: none;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-2px);
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 100px;
  background-color: white;
  transition-duration: 0.32s;
  transition-property: width;
  position: absolute;
  bottom: 0;
  transform: translateY(200%);
}

.active {
  font-weight: 500;
}

nav ul li a:hover,
.active {
  &::after {
    width: 105%;
  }
}

/* -- End navbar  */
header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000000bb, #000000bb),
    url("../Assets/Images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-align: center;
}

header h2 {
  height: calc(24px * 1.2);
  border-right: 1px solid #3c9bee;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.4s blinker infinite alternate linear;
}

header h2 .text {
  color: var(--main-color);
}

/* Start services slider */
#services {
  width: 100vw;
  height: 90vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slider {
  position: relative;
  width: 950px;
  height: 400px;
  margin: 10px;
  border-radius: 20px;
  /* padding: 10px 0; */
  background-color: #3b3e4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slider .slide .left,
.img-slider .slide .right {
  max-width: 50%;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  /* background-color: #3b3e4d; */
}

.img-slider .slide img {
  z-index: 1;
  width: 300px;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 27px;
  font-weight: 800;
}

.img-slider .slide .info p {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.img-slider .slide .info a {
  color: #fff;
  text-decoration: none;
  background-color: #1a8aec;
  border: none;
  margin-top: 20px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  cursor: pointer;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation .btn {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.842);
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #1a8aec;
  box-shadow: 0 0 2px rgba(32, 32, 32, 0.74);
}

/* FAQS */
.faqs {
  /* font-family: Arial, sans-serif; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.faq-container {
  width: 950px;
  margin: auto;
  background-color: #3b3e4d;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.faq-header {
  text-align: center;
  margin-bottom: 20px;
}

.faq-header img {
  width: 15%;
}

.faq-header h1 {
  font-size: 28px;
  color: #fff;
  margin: 0;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  background: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

.faq-question svg {
  transition: transform 0.3s;
}

.faq-question path {
  color: #1a8aec;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  border-bottom: 1px #1a8aec solid;
}

.faq-answer p {
  font-size: 20px;
  margin-bottom: 15px;
}

.faq-answer.open {
  max-height: 200px;
}

/* Btn Top */

.scrollTop {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition-duration: 0.25s;
  opacity: 0;
}

.scrollTop:hover {
  background-color: #228ae6;
}

/* footer */
b {
  font-weight: bold;
  color: #007bff;
}

#footer-logo {
  width: 150px;
}

footer {
  border-top: 1px solid #007bff;
  background-color: #282a37;
  color: #fff;
  padding: 20px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}

.links a:hover {
  color: #ccc;
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  flex: 1;
}

.subscribe .btn-submit {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.links a i {
  font-size: 30px;
}

.copyright {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 700;
  flex: 100%;
}

@media (max-width: 768px) {
  footer {
    padding: 20px 5%;
    flex-direction: column;
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }

  .subscribe {
    flex-direction: column;
    width: 100%;
  }

  .subscribe input[type="email"] {
    width: 100%;
  }

  .subscribe button {
    width: 100%;
    margin: 10px 0;
  }

  .copyright {
    margin-top: 20px;
  }
}

/* slider media quires */
/* 
@media (max-width: 1024px) {
  .container-slider {
    padding: 22px 42px;
  }
  .img-slider {
    width: 890px;
    height: 420px;
  }

  .img-slider .slide {
    padding: 15px 35px;
  }
  .img-slider .slide .info h2 {
    font-size: 26px;
    padding-bottom: 7px;
  }
  .img-slider .slide .info p {
    font-size: 16px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}

@media (max-width: 920px) {
  .container-slider {
    padding: 20px 40px;
  }
  .img-slider {
    width: 800px;
    height: 310px;
  }

  .img-slider .slide {
    padding: 15px 35px;
  }

  .img-slider .slide .info h2 {
    font-size: 26px;
    padding-bottom: 7px;
  }

  .img-slider .slide .info p {
    font-size: 16px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}

@media (max-width: 768px) {
  .container-slider {
    padding: 18px 38px;
  }
  .img-slider {
    width: 700px;
    height: 310px;
  }

  .img-slider .slide {
    padding: 13px 33px;
  }

  .img-slider .slide .info h2 {
    font-size: 24px;
    padding-bottom: 5px;
  }

  .img-slider .slide .info p {
    font-size: 14px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}


@media (max-width: 600px) {
    .container-slider {
    padding: 16px 36px;
  }
  .img-slider {
    width: 700px;
    height: 320px;
  }

  .img-slider .slide {
    padding: 11px 31px;
  }

  .img-slider .slide .info h2 {
    font-size: 22px;
    padding-bottom: 4px;
  }

  .img-slider .slide .info p {
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 1px;
  }
}
@media (max-width: 480px) {

  .container-slider {
    padding: 16px 17px;
  }
  .img-slider {
    width: 650px;
    height: 330px;
  }

  .img-slider .slide {
    padding: 24px 15px;
  }

  .img-slider .slide img {
    width: 150px;
  }

  .img-slider .slide .info h2 {
    font-size: 16px;
  }

  .img-slider .slide .info p {
    font-size: 11px;
  }

  .img-slider .slide .info button {
    font-size: 10px;
    padding: 6px 1px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }

  .img-slider .navigation .btn {
    width: 7px;
    height: 7px;
  }
} */
/* End services slider */
/* Start FAQS Section  */
/* 
@media (max-width: 1024px) {
  .faqs {
    padding: 22px 42px;
  }

  .faq-container {
    width: 890px;
    padding: 20px 30px;
  }

  .faq-header img {
    width: 20%;
  }

} */
/* @media (max-width: 480px) {
  .faqs {
    padding: 16px 26px;
  }

  .faq-container {
    padding: 15px 25px;
    width: 650px;
  }

  .faq-header h1 {
    font-size: 25px;
    ;
  }

  .faq-header img {
    width: 44%;
  }

} */

/* End FAQS Section  */

@keyframes blinker {
  100% {
    border-right-color: #3c9bee00;
  }
}

@media (max-width: 576px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #282a37dd;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 768px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #282a37dd;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 992px) {
  nav .menu {
    display: block;
  }

  nav .s-s {
    position: fixed;
    z-index: 10;
    width: 85vw;
    padding: 0px 20px;
    gap: 10px;
    flex-direction: column;
    background-color: #282a37dd;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: calc(20px + 60px);
    overflow: hidden;
    height: 0;
  }

  nav .s-s ul {
    flex-direction: column;
  }

  nav .s-s .divider {
    width: 100%;
    height: 2px;
  }
}
/* Start services slider */
#services,
.faqs {
  width: 100vw;
  height: auto; 
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5%;
}

.img-slider,
.faq-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  border-radius: 20px;
  background-color: #3b3e4d;
  padding: 2rem;
}

.img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;    
  overflow: hidden; 
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.img-slider .slide img {
  width: 100%;      
  max-width: 300px; 
    padding: 15px;
  border-radius: 50px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

.img-slider .slide .info p {
  color: #fff;
  font-size: 1.2rem; 
  margin-top: 10px;
}

.img-slider .slide .info a {
  color: #fff;
  text-decoration: none;
  background-color: #1a8aec;
  border: none;
  margin-top: 20px;
  display: inline-block;
  font-size: 1.5rem;  
  padding: 1rem 2rem; 
  border-radius: 30px;
  cursor: pointer;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation .btn {
  width: 25px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-header {
  text-align: center;
  margin-bottom: 20px;
}

.faq-header h1 {
  font-size: 2rem; 
  color: #fff;
  margin: 0;
}

.faq-question {
  background: transparent;
  cursor: pointer;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;   
  font-size: 1.1rem; 
  color: #fff;
  line-height: 1.4;
  border-bottom: 1px #1a8aec solid;
}

/* Media Queries */
@media (max-width: 1024px) {
  .img-slider {
      height: 350px;
  }

  .img-slider .slide .info h2 {
      font-size: 1.8rem; 
  }

  .img-slider .slide .info p {
      font-size: 1rem; 
  }
}

@media (max-width: 768px) {
  #services,
  .faqs {
      padding: 2rem 3%; 
  }

  .img-slider,
  .faq-container {
      width: 95%; 
  }

  .img-slider {
      height: 300px;
  }

  .img-slider .slide .info h2 {
      font-size: 1.4rem;
  }

  .img-slider .slide .info p {
      font-size: 0.8rem; 
  }
  .img-slider .slide .info a {
    font-size: 1.4rem;     
    padding: 0.9rem 1.6rem;
  }
    .img-slider .navigation .btn {
      width: 8px;
      height: 8px;
      margin: 1px;
    }
}

@media (max-width: 600px) {
  .img-slider {
      height: 300px;
      padding: 1rem;
  }
  .img-slider .slide .info h2 {
      font-size: 1.1rem;    
      margin-bottom: 0.3rem;
  }

  .img-slider .slide .info p {
      font-size: 0.8rem;   
      margin-bottom: .8rem;
  }

  .img-slider .slide .info a {
      font-size: 1rem;        
      padding: 0.8rem 1.6rem; 
      }

  .faq-header h1 {
      font-size: 1.6rem;
  }

  .faq-question {
      padding: 0.8rem;
  }

  .faq-answer {
      padding: 0 0.8rem;
  }
}

@media (max-width: 480px) {

  .img-slider {
      height: 300px; 
  }
  .img-slider .slide{
    padding: 1.1rem; 
  }
  .img-slider .slide .info h2 {
      font-size: .9rem; 
  }

  .img-slider .slide .info p {
      font-size: 0.7rem; 
      margin-bottom: .5rem;
  }
  .faq-container{
    padding: 1.8rem 1rem;
  }
  .img-slider .slide .info a {
      font-size: .9rem;
      padding: 0.5rem 1rem; 
  }
  .faq-question {
    padding: 0.1rem;
}

.faq-answer {
    padding: 0 0.1rem;
}
  .faq-header h1 {
      font-size: 1.3rem;
  }
  .faq-answer p{
    font-size: 1rem;
  }
  .img-slider .navigation .btn {
    width: 7px;
    height: 7px;
    margin: 1px;
  }
}